.accountSection {
  overflow: hidden;
}

.accountSection .header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 var(--spacing-l);
  background-color: var(--color-grey-light);
  border: 2px solid var(--color-grey-light);
  border-radius: 10px 10px 0 0;

  @media (--s) {
    height: 82px;
    padding: 0 var(--spacing-xl);
  }

  @media (--m) {
    height: 98px;
  }
}

.accountSection.disabled .header h2,
.accountSection.disabled .header p {
  color: var(--color-grey-dark);
  opacity: 0.3;
}

.accountSection.disabled .header {
  background-color: var(--color-text-body-secondary);
}

.accountSection.gap .header {
  margin-bottom: 2px;
}

.accountSection .content {
  position: relative;
  border-radius: 0 0 10px 10px;
  border: 2px solid var(--color-grey-light);
  border-top: 0;
  padding: var(--spacing-l);

  @media (--m) {
    padding: var(--spacing-xl);
  }
}

.accountSection.gap .content {
  border-top: 2px solid var(--color-grey-light);
}
