.button {
  background: var(--color-brand-secondary);
  color: var(--color-basic-white);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  width: 44px;
  height: 44px;
  border-radius: 22px;
  padding: 0;
  min-width: 0;

  &:focus::after {
    width: 52px;
    height: 52px;
    border-radius: 26px;
  }
}

.button:not(:disabled):hover {
  background: rgba(var(--color-brand-secondary), 0.9);
}

.disabled {
  background: var(--color-grey-mid);
  color: var(--color-basic-white);
}

.selected {
  background: var(--color-brand-tertiary) !important;
}
