.lazyWrapper {
  background-color: var(--color-shade-light);
  display: flex;
  width: 100%;
  align-items: center;
}

.lazy {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 100%;
}

.lazyLoaded {
  opacity: 1;
}
