.formFields > div,
.formFields > fieldset {
  margin-bottom: var(--spacing-xl);
}

.errorBox {
  color: var(--color-ui-error);
  border: 2px solid var(--color-ui-error);
  border-radius: 10px;
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-xl);
}

.errorBox a {
  text-decoration: underline;
}
