.blogArticleContent {
  margin: 0 auto var(--spacing-xl);
  max-width: calc(var(--breakpoint-m-min) * 1px);
}

.blogArticleContent.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blogArticleExcerpt {
  margin-bottom: var(--spacing-l);

  @media (--m) {
    margin-bottom: var(--spacing-xl);
  }
}

.blogArticleParagraph {
  margin-bottom: var(--spacing-m);

  @media (--m) {
    margin-bottom: var(--spacing-l);
  }
}

.blogArticleContentBody > * {
  margin-bottom: var(--spacing-m);
}

.blogArticleContentBody > *:last-child {
  margin-bottom: 0;
}

.blogArticleContentBody h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.2px;
  line-height: 1.2;

  @media (--s) {
    font-size: var(--font-size-4xl);
    line-height: 1;
  }

  @media (--m) {
    font-size: var(--font-size-5xl);
    line-height: 0.97;
  }
}

.blogArticleContentBody h2 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: 1.5;

  @media (--s) {
    font-size: var(--font-size-l);
    line-height: 1.45;
  }

  @media (--m) {
    font-size: var(--font-size-3xl);
    line-height: 1.06;
  }
}

.blogArticleContentBody h3 {
  font-size: var(--font-size-xs);
  line-height: 1.41;

  @media (--s) {
    font-size: var(--font-size-m);
    line-height: 1.35;
  }

  @media (--m) {
    font-size: var(--font-size-xxl);
    line-height: 1.2;
  }
}

.blogArticleContentBody h1,
.blogArticleContentBody h2,
.blogArticleContentBody h3 {
  color: var(--color-brand-secondary);
}

.blogArticleContentBody p,
.blogArticleContentBody li {
  font-size: var(--font-size-xxs);
  line-height: 1.63;
  color: var(--color-grey-dark);
  font-weight: var(--font-weight-light);

  @media (--s) {
    font-size: var(--font-size-s);
    line-height: 1.56;
  }

  @media (--m) {
    font-size: var(--font-size-xl);
    line-height: 1.25;
  }
}

.blogArticleContentBody em {
  font-style: italic;
}

.blogArticleContentBody ul,
.blogArticleContentBody ol {
  padding-left: var(--font-size-xxl);
}

.blogArticleContentBody ul {
  list-style: disc;
}

.blogArticleContentBody ol {
  list-style: decimal;
}

.blogArticleContentBody strong {
  font-weight: var(--font-weight-semibold);
}

.blogArticleContentBody pre {
  padding: var(--font-size-xxl);
  background-color: var(--color-grey-light);
}

.blogArticleContentBody code {
  color: var(--color-grey-darkLighter);
}

.blogArticleContentBody a {
  text-decoration: underline;
  color: var(--color-brand-main);
}

.blogArticleContentBody a:link,
.blogArticleContentBody a:visited,
.blogArticleContentBody a:active {
  color: var(--color-brand-main);
}

.blogArticleContentBody a:hover {
  text-decoration: none;
}

.blogArticleContentBody blockquote::before,
.blogArticleContentBody blockquote::after {
  content: '"';
}

.blogArticleContentBody blockquote > * {
  display: inline-block;
}
