.button .content {
  background: var(--color-brand-secondary);
  color: var(--color-basic-white);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.button:not(:disabled):hover .content {
  background: #005552;
}

.disabled .content {
  background: var(--color-grey-mid);
  color: var(--color-basic-white);
}
