.component {
  width: 100%;
  padding: var(--spacing-m) 0;

  @media (--s) {
    min-height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--spacing-xxl) 20% var(--spacing-xxl) 0;
  }
}

.heading {
  white-space: pre-line;
}

.cta {
  margin-top: var(--spacing-xl);
}

.text {
  margin-top: var(--spacing-m);
}
