.accountField {
  display: flex;
  align-items: flex-end;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.accountField .label {
  margin-bottom: var(--spacing-xs);
}

.accountField .value {
  line-height: 1.62;
}

.accountField.dark {
  border-bottom-color: var(--color-grey-midDarker);
}

.accountField.light {
  border-bottom-color: var(--color-grey-light);
}

.textWrapper {
  flex-grow: 1;
}

.accountField button {
  margin-bottom: var(--spacing-s);
}
