.flexrow {
  display: block;

  @media (--s) {
    display: flex;
  }
}

.flexrow > * {
  width: 100%;
  margin-bottom: var(--spacing-l);

  @media (--s) {
    width: 0;
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: var(--spacing-xl);
  }
}

.flexrow > div:last-child {
  margin-bottom: 0;

  @media (--s) {
    margin-right: 0;
  }
}
