.footer > div {
  @media (--s) {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }
}

.footer > div:last-of-type {
  @media (--m) {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
  }
}

.title {
  margin-bottom: var(--spacing-m);
}

.subtitle {
  margin-bottom: var(--spacing-xl);
}

.social > button {
  margin-right: var(--spacing-l);
}

.socialIcon {
  color: var(--color-basic-white);
}

.copyright {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-m);

  @media (--s) {
    margin-bottom: var(--spacing-s);
    flex-direction: row;
  }

  @media (--m) {
    margin-bottom: 0;
  }
}

.copyright > * {
  margin-bottom: var(--spacing-s);

  @media (--s) {
    margin-bottom: 0;
    margin-right: var(--spacing-xs);
  }
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  color: var(--color-basic-white);

  @media (--m) {
    flex-direction: row;
    align-items: center;
  }
}

.menuWrapper div:last-of-type {
  @media (--m) {
    flex-grow: 1;
  }
}
