.selectbox {
  list-style: none;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding-right: 35px;
}

.label {
  background: var(--color-basic-white);
  color: var(--color-brand-secondary);
  padding-left: 25px;
  margin-bottom: var(--spacing-s);
}

.selectIcon {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  right: 25px;
  transition: transform 0.2s cubic-bezier(0, 0, 0.38, 0.9);
  color: var(--color-brand-main);
}

.selectIcon.expanded {
  transform: rotate(-180deg);
}

.dropdownList {
  width: 100%;
  position: absolute;
  left: 0;
  top: -54px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  max-height: 0;
  overflow: hidden;
  display: block;
  opacity: 0;
  border: 2px solid var(--color-brand-main);
  border-radius: 29px;
  padding-top: 50px;
  z-index: -1;
}

.dropdownList.open {
  max-height: none;
  opacity: 1;
  z-index: 2;
}

.dropdownListContainer {
  position: relative;
  width: auto;
  overflow: visible;
  white-space: nowrap;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

.dropdownListItem {
  color: var(--color-basic-black);
  padding: 19px 25px;
  transition: background-color 0.1s linear, color 0.1s linear;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;

  &:nth-child(2n - 1) {
    background-color: var(--color-grey-mid);
  }

  &:nth-child(2n) {
    background-color: var(--color-grey-light);
  }

  &:hover > *,
  &:focus > * {
    font-weight: var(--font-weight-bold);
    outline: 0;
  }
}

.dropdownSelected {
  padding: 19px 23px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid var(--color-basic-white);
  border-radius: 29px;

  &:hover,
  &:focus {
    border: 2px solid var(--color-brand-main);
    outline: 0;
  }
}

.dropdownSelected.open {
  background-color: var(--color-grey-light);
  opacity: 1;
  overflow: auto;
  max-height: 15rem;
  border: 2px solid var(--color-basic-white) !important;
  border-radius: 29px 29px 0 0 !important;

  &:focus {
    border: 2px solid var(--color-basic-white) !important;
  }
}

.inline {
  display: inline-block;
}

.inline .dropdownSelected,
.inline ul {
  width: 120%;
}

.inline .dropdownSelected,
.inline .dropdownSelected.open,
.inline .dropdownSelected:hover {
  border-width: 0 0 1px 0 !important;
  border-style: solid;
  border-color: var(--color-grey-mid);
  border-radius: 0;
  padding: 17px 12px 13px 12px;

  &:hover,
  &:focus,
  &:active {
    border-width: 0 0 1px 0 !important;
  }
}

.inline .selectIcon {
  right: 15px;
}

.inline ul li {
  padding: 19px 15px;
}

.inline .dropdownList {
  border: 0;
}
