.articleAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.articleAuthor .name,
.articleAuthor .date {
  display: block;
  padding-left: var(--spacing-m);
}

.articleAuthor .date {
  line-height: 1.14;
}

.articleAuthor.small .name,
.articleAuthor.small .date {
  display: block;
  padding-left: var(--spacing-s);
}
