.option {
  border-radius: 10px;
  background-color: var(--color-basic-white);
  border: 2px solid var(--color-grey-mid);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-midDarker);
  padding: var(--spacing-s);
  cursor: pointer;
  transition: all linear 0.1s;
}

.option.selected {
  background-color: var(--color-brand-secondary);
  color: var(--color-basic-white);
  border-color: var(--color-brand-secondary);
}

.option.readOnly {
  cursor: default;
  opacity: 0.7;
}

.option.selected .text {
  color: var(--color-basic-white);
}

.text {
  text-transform: uppercase;
  margin-top: var(--spacing-s);
  color: var(--color-grey-dark);
  text-align: center;
}

.textInputNote {
  padding: var(--spacing-s) var(--spacing-m);
}
