.button {
  background: var(--color-brand-tertiary);
  color: var(--color-brand-secondary);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  font-weight: bold;
}

.button:not(:disabled):hover {
  background: rgba(var(--color-brand-tertiary), 0.8);
}

.disabled {
  color: var(--color-grey-mid);
  background: var(--color-grey-light);
}
