:root {
  --box-shadow-focus: 0 0 0 5px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  --box-shadow-active: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.button {
  background: var(--color-basic-white);
  color: var(--color-brand-main);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 200ms cubic-bezier(0.11, 0.93, 0.15, 0.98);

  svg {
    fill: var(--color-basic-white) !important;
  }

  &:active {
    box-shadow: var(--box-shadow-active);
  }

  &:not(:disabled):hover {
    box-shadow: var(--box-shadow-hover);

    &:focus {
      box-shadow: var(--box-shadow-hover), var(--box-shadow-focus);

      &:active {
        box-shadow: var(--box-shadow-active), var(--box-shadow-focus);
      }
    }
  }
}

.disabled {
  background: var(--color-shade-dark);
  color: var(--color-basic-white);
}
