.container {
  display: flex;
  max-width: 284px;
}

.container > div {
  width: 0;
  flex-grow: 1;
}

.container button {
  min-width: 0;
  width: 100%;
}

.container > div:first-child {
  margin-right: var(--spacing-s);
}
