.formWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fieldsWrapper {
  flex-grow: 1;
  overflow: scroll;
}

.ctaWrapper {
  padding-top: var(--spacing-xl);
  display: flex;
}

.ctaWrapper button:first-of-type {
  margin-right: var(--spacing-s);
}

.ctaWrapper button:last-of-type {
  margin-left: var(--spacing-s);
}
