.prefOptions {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-l);
}

.prefOption {
  text-align: center;
  margin: 0 var(--spacing-l);
}

.prefOption svg {
  color: var(--color-brand-secondary);
}

.prefOptionLabel {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: var(--spacing-s);
}

.heading {
  font-weight: 600;
  margin-bottom: var(--spacing-m);
}

.confirm {
  text-align: center;
  margin-top: var(--spacing-l);
}

.text {
  margin-bottom: var(--spacing-l);
  max-width: 480px;
  line-height: 1.75em;
}
