.prefOptions {
  display: grid;
  flex-wrap: wrap;
  margin: 0;
  margin: var(--spacing-m) 0 var(--spacing-m) 0;
  grid-template-columns: 1fr 1fr;

  @media (--s) {
    margin: var(--spacing-xl) 0 var(--spacing-xl) 0;
    display: flex;
    justify-content: center;
  }

  @media (--m) {
    margin: var(--spacing-xxl) 0 var(--spacing-xxl) 0;
  }
}

.prefOption {
  text-align: center;
  margin: var(--spacing-m) var(--spacing-xl);
  min-width: 100px;
}

.prefOption svg {
  color: var(--color-brand-secondary);
}

.prefOptionLabel {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: var(--spacing-s);
}

.heading {
  font-weight: 600;
  margin-bottom: var(--spacing-m);
}

.confirm {
  text-align: center;
  margin-top: var(--spacing-l);
}

.text {
  margin-bottom: var(--spacing-l);
  max-width: 480px;
  line-height: 1.75em;
}
