.wrapper {
  width: 100%;
  position: fixed;
  bottom: var(--spacing-s);
  padding: var(--spacing-l);
  max-width: 1260px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @media (--s) {
    padding: calc(var(--spacing-l) * 2);
  }

  @media (--m) {
    bottom: var(--spacing-l);
  }
}

.wrapper > * {
  margin-bottom: var(--spacing-l);
}

.wrapper > *:last-child {
  margin-bottom: 0;
}

.enter,
.appear {
  opacity: 0;
}

.enterActive,
.appearActive {
  opacity: 1;
  transition: opacity 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 300ms;
}
