.input {
  border-radius: 4px;
  border: 1px solid var(--color-shade-light);
  box-shadow: none;
  background: transparent;
  color: var(--color-text-ui);
  outline: none;
  padding: var(--spacing-s) var(--spacing-m);
  width: 100%;

  &::placeholder {
    color: var(--color-basic-black);
    font-weight: var(--font-weight-book);
  }

  &.fullWidth {
    display: block;
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.invalid {
  border-bottom: 2px solid var(--color-ui-error);
}

.valid {
  border-bottom: 2px solid var(--color-ui-success);
}

.password {
  letter-spacing: var(--spacing-s);
  font-family: monospace;
}
