.nav {
  width: 100%;
  color: var(--color-basic-white);
}

.topLevelNav {
  @media (--s) {
    display: flex;
    justify-content: flex-end;
  }
}

.topLevelNavItem {
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-m);
  line-height: 1.5;

  @media (--s) {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 var(--spacing-l);
    padding-left: 0;
    font-size: var(--font-size-xxs);
    line-height: 1;
  }
}

.topLevelNavItem:last-child {
  margin-bottom: 0;
}

.navLink {
  display: block;
}

.navLink:focus {
  outline: 3px solid var(--color-brand-quaternary);
}
