:root {
  --display-line-height: 1.35;
  --body-line-height: 1.55;
}

.base {
  color: var(--color-text-header);
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.1px;
  line-height: var(--body-line-height);
}

.h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.2px;
  line-height: 1.2;

  @media (--s) {
    font-size: var(--font-size-4xl);
    line-height: 1;
  }

  @media (--m) {
    font-size: var(--font-size-5xl);
    line-height: 0.97;
  }
}

.h2 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: 1.5;

  @media (--s) {
    font-size: var(--font-size-l);
    line-height: 1.45;
  }

  @media (--m) {
    font-size: var(--font-size-3xl);
    line-height: 1.06;
  }
}

.h2.cmsContent {
  margin-bottom: var(--spacing-l);

  @media (--m) {
    margin-bottom: var(--spacing-xl);
  }
}

.cookieTitle {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: 1.41;

  @media (--s) {
    font-size: var(--font-size-m);
    line-height: 1.35;
  }

  @media (--m) {
    font-size: var(--font-size-xxl);
    line-height: 1.2;
  }
}

.h3 {
  font-size: var(--font-size-xs);
  line-height: 1.41;

  @media (--s) {
    font-size: var(--font-size-m);
    line-height: 1.35;
  }

  @media (--m) {
    font-size: var(--font-size-xxl);
    line-height: 1.2;
  }
}

.body {
  font-size: var(--font-size-xxs);
  line-height: 1.63;

  @media (--s) {
    font-size: var(--font-size-s);
    line-height: 1.56;
  }

  @media (--m) {
    font-size: var(--font-size-xl);
    line-height: 1.25;
  }
}

.cookieBody {
  font-size: var(--font-size-3xs);
  line-height: 1.86;

  @media (--s) {
    font-size: var(--font-size-s);
    line-height: 1.56;
  }

  @media (--m) {
    font-size: var(--font-size-m);
    line-height: 1.4;
  }
}

.body.cmsContent {
  margin-bottom: var(--spacing-l);

  @media (--m) {
    margin-bottom: var(--spacing-xl);
  }
}

.bodyFixed {
  font-size: var(--font-size-s);
  line-height: 1.56;
}

.segmentCopy {
  font-size: var(--font-size-3xs);
  line-height: 1.86;

  @media (--s) {
    font-size: var(--font-size-s);
    line-height: 1.78;
  }

  @media (--m) {
    font-size: var(--font-size-m);
    line-height: 2;
  }
}

.segmentCopyFixed {
  font-size: var(--font-size-3xs);
  line-height: 1.86;
}

.caption {
  font-size: var(--font-size-4xs);
  line-height: 1.33;

  @media (--m) {
    font-size: var(--font-size-3xs);
    line-height: 1.14;
  }
}

.supportCopy {
  font-size: var(--font-size-3xs);
  line-height: 1.14;

  @media (--m) {
    font-size: var(--font-size-2xs);
  }
}

.label {
  font-size: var(--font-size-3xs);
  line-height: 1.63;

  @media (--m) {
    font-size: var(--font-size-2xs);
  }
}

.secondary {
  color: var(--color-basic-white);
}

.tertiary {
  color: var(--color-grey-dark);
  font-weight: var(--font-weight-light);
}

.quaternary {
  color: var(--color-brand-main);
}

.quinary {
  color: var(--color-grey-darkLighter);
}

.error {
  color: var(--color-ui-error);
}
