.list {
  color: var(--color-basic-white);
  font-size: var(--font-size-m);
  list-style: disc;
  margin-left: var(--font-size-s);
}

.cmsContent {
  margin-bottom: var(--spacing-l);

  @media (--m) {
    margin-bottom: var(--spacing-xl);
  }
}
